/.gradle/*
!/.gradle/caches
/.gradle/caches/*
!/.gradle/caches/modules-2
/.gradle/caches/modules-2/*
!/.gradle/caches/modules-2/files-2.1
/.gradle/caches/modules-2/files-2.1/**/*-sources.jar
/.gradle/caches/modules-2/files-2.1/com.liferay.portal/*/*-SNAPSHOT